.team {
    display: inline;
    width: 100%;
    border: 4 solid yellow;
    margin-bottom: 200px;
}

.abteam {
    position: relative;
    float: left;
    width: 180px;
    height: 200px;
    margin: 0px 80px 200px 20px;
    display: inline;
}

.caption {
    display: none;
    position: absolute;
    margin-top: 40px;
    left: 0;
    background-color: gray;
    width: 300px;
    height: 300px;
}

#abouth3, #pabout {
    color: #fff;
    margin: 20px;
}

#abouth3 {
    margin: 20px 20px 10px;
}

#pabout {
    font-size: .75em;
    line-height: 1.5em;
    margin: 0 20px 15px;
}

.abpics {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
}



#abouth1 {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#about {
    display: flex;
    flex-direction: column;
        margin-left: 55px;
}

@media (max-width: 400px) {
    #about {
        margin-left: 15%;
    }
    .abteam {
        position: relative;
        float: left;
        width: 180px;
        height: 200px;
        margin: 40px 60px 90px 20px;
    }
    .coolFooter {
        margin-top: 140px;
    }
}
