img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

main {
  margin: auto;
  width: 90%;
}

hr {
  margin: 1em;
  width: 80%;
}

ul {
  display: flex;
  padding: 0px;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

li {
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1.5em;
  font-weight: lighter;
}

address {
  display: inline-block;
}

h2 {
  font-size: 3em;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: white;
}

li {
  cursor: pointer; cursor: hand;
}

a:hover, a:focus {
  color: #29506D;
  cursor: pointer;
}

a:visited {
}
