.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}
#banner{
  background-image: url("../assets/rogue_one.png");
  min-height: 200px;
  background-size: cover;
}
@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #banner{
    background-image: url("../assets/rogue_one.png");
    height: 300px;
    margin: auto 0;
    background-size: cover;
