.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
.middle {
  margin: auto 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

.topMovieBanner {
  display: flex;
  flex-direction: column-reverse;;
}

.topBannerHeader h1 {
    color: white;
    background: RGBA(0, 0, 0, .60);
    padding: 5px 5px 5px 10px;
    width: 50%;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
}
#topMovieBanner{
  width: 100%;
  min-height: 200px;
  background-size: cover;
}
@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
#logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
  #topMovieBanner{
    width: 100%;
    height: 300px;
    margin: auto 0;
    background-size: cover;
