.site-header {
  background: #FFEAAA;
}

.heading-group-h1 {
  float: left;
  padding: 1 0 .2em 1em;
}

.icon-menu {
  padding-top: 7px;
  font-size: 2em;
  float: left;
}

.main-nav {
  padding: 0.1em;
  height: 50px;
  background-color: lightgrey;
  border-bottom: 3px solid darkblue;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin: 0;

  font-size: 1.5em;
  padding: .5em .5em;
  border-bottom: 2px solid black;

}


.main-nav li:first-child {

  padding: 1em 0em .5em 0em ;

}
#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

#article-export label {
  font-size: .8em;
  font-style: italic;
  color: #ccc;
}

#topMovie{

}



@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

}
