
.icon-menu {
  font-size: 2em;
  float: left;

}

.main-nav {
  padding: 0.1em;
background-color: rgba(213, 209, 209, 0.15);
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.main-nav  a {
  color:black;
}


.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid blue;
}
#topMoviesList {
  min-height: 300px;
  width: 100%;
  background-color: grey;
}
footer div {
  display: block;
  background-color: grey;
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;

}
.middle {
  text-align: center;
}
@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;

    height: 45px;
    border-bottom: 3px solid blue;
  }

  .main-nav  a {
    color:black;
  }
  .main-nav ul {
    display: block;

  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #29506D;
  }

}
