button {
  background-color: #13139B;
  border: none;
  border-width: 0px;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-title {
  color: black;
  font-size: 1.5em;
}

.movieTitleDiv {
  padding: 0px 20px 0px 20px;
}

.movie-image {
  width: 100%;
  height: 50vh;
}

.movieTextContent {
  padding: 25px;
}

.movieTextContent h2 {
  margin-bottom: 0px;
}

.movieTextContent h4 {
  margin-top: 0px;
}

ul {
  list-style-type: none;
}
