body {
    height: 100vh;
}

button {
  background-color: #13139B;
  border: none;
  border-width: 0px;
  color: white;
  padding: 15px 30px 15px 30px;
  font-size: 2em;
}

.middle {
  color: white;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

li .movie-title {
  color: black;
  font-size: 1.3em;
  cursor: pointer;
  padding: 10px;
  line-height: 1.8em;
}

.movieTitleDiv {
  padding: 0px 20px 0px 20px;
}

.movie-image {
  width: 100%;
  height: 50vh;
}

.movieTextContent {
  padding: 25px;
}

.movieTextContent h2 {
  margin-bottom: 0px;
  font-size: 3.2em;
  line-height: 1.2em;
}

.movieTextContent h4 {
  margin-top: 0px;
  font-size: 2em;
  font-weight: lighter;
}

.main-content{
}

.header-logo {
  max-width: 50%;
}



@media only screen and (min-width: 640px){
  .movie-image {
    width: 100%;
    height: 70vh;
  }

  .movieTitleDiv {
    padding: 0px 20px 0px 15%;
  }


  li {
    width: 100%;
  }

  li .movie-title {
    color: black;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    line-height: 1.8em;
  }

  ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .movies-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .movie-selection-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .movieTextContent {
    display: flex;
    padding: 70px;
    /* max-width: 60%; */
    align-items: center;
    align-content: center;
    justify-content: center;
  }

}

@media only screen and (min-width: 750px){
  .movie-selection-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
}
